<div class="container">
<div class="page-header">
<h1> <%= @actor.name %></h1>

<dl class="dl-horizontal">

    <dt>Name</dt>
    <dd> <%= @actor.name %> </dd>

    <dt>Bio</dt>
    <dd><%= @actor.bio %>"></dd>
    
    <dt>Birthday</dt>
    <dd><%= @actor.dob %></dd>

    <dd><img src="<%= @actor.image_url %>" width="320"></dd>

  </dl>
  </div>
  <tr>
    <a class="btn btn-primary" href="http://localhost:3000/actors">Back</a>
  </tr>