<div class="container">
 <div class="page-header">
<h1>Edit <%= @director.name %> </h1>

<form action="http://localhost:3000/directors/update_director/<%= @director.id %>" class="form-horizontal">
	<div>
		<label for="director_name">Name</label>
		<input id="director_name" type="text" name="name" value="<%= @director.name %>">
	</div>
	
	<div>
		<label for="director_image_url">Image</label>
		<input id="director_image_url" type="text" name="image_url" value="<%= @director.image_url %>">
	</div>

	<div>
		<label for="director_bio">Bio</label>
		<input id="director_bio" type="text" name="bio" value="<%= @director.bio %>">
	</div>

	<div>
		<label for="director_dob">Birthday</label>
		<input id="director_dob" type="text" name="dob" value="<%= @director.dob %>">
	</div>
	
	<div>
		<button class="btn btn-primary">Update Director</button>
	</div>
</form>